<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-lg-6">
                        Desde:
                        <select name="origen" class="custom-select" id="inputGroupSelect01" (change)="cambiarOrigen($event)">
                            <option value="" selected>Seleccione</option>    
                            <option *ngFor="let departamento of arrayDepartamentos" >{{departamento}}
                            </option>

                        </select>

                    </div>
                    <div class="col-lg-6">
                        A:
                        <select name="destino" class="custom-select" id="inputGroupSelect01" (change)="cambiarDestino($event)">
                                <option value="" selected>Seleccione</option>    
                            <option *ngFor="let departamento of arrayDepartamentos">{{departamento}}
                            </option>

                        </select>


                    </div>
                </div>
                <div class="row">
                  
                    <div class="col-lg-6">
                        Partida:
                        <input type="date" name ="karen" class="form-control" [(ngModel)]="itinerarioForm.fechaPartida">
                    </div>
                    <div class="col-lg-6">
                        Retorno:
                        <input type="date" name="karen2" class="form-control"  [(ngModel)]="itinerarioForm.fechaRetorno">


                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary" (click)="adicionarForm()"> Adicionar</button>
                </div>
            </form>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">FechaPartida</th>
                            <th scope="col">FechaRetorno</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let itinerario of listaItinerario">
                            <td>{{itinerario.origen}}</td>
                            <td>{{itinerario.destino}}</td>
                            <td>{{itinerario.fechaPartida}}</td>
                            <td>{{itinerario.fechaRetorno}}</td>
                        </tr>    
                            
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>