<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form #f="ng-form">
                <div class="row">
                    <div class="col-lg-6">
                        Desde:
                        <select name="origen" class="custom-select" id="inputGroupSelect01" ngModel>

                            <option *ngFor="let departamento of arrayDepartamentos" [ngValue]="origen">{{departamento}}
                            </option>

                        </select>

                    </div>
                    <div class="col-lg-6">
                        A:
                        <select name="destino" class="custom-select" id="inputGroupSelect01" ngModel>

                            <option *ngFor="let departamento of arrayDepartamentos" [ngValue]="destino">{{departamento}}
                            </option>

                        </select>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        Partida:
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-lg-6">
                        Retorno:
                        <input type="date" class="form-control">


                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary" (click)="adicionarForm()"> Adicionar</button>
                </div>
            </form>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>